<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Explore</title>
</head>
<body>
  
 <!-- Navigation Menu -->
  <nav>
    <div class="logo-containter"><span id="logo">Activity.</span></div>
    <ul>
      <li><a class="txt-link" href="/home">Home</a></li>
      <li><a class="txt-link" href="/create">Create</a></li>
      <li id="menu-item"><a class="txt-link" href="/explore">Explore</a></li>
      <li><a class="txt-link" href="/profile">Profile</a></li>
    </ul>
  </nav>

  <div class="head-body">
    <header>
      <div class="header-container1">
        <h1>Try Something New</h1>
      </div>
    </header>
    <div class="stock-container">
      <figure>
        <img src="img/runnerIMG.png" alt="runner photo">
      </figure>
    </div>
  </div>



  <!-- Box to hold all cards -->
  <form method="POST" action="/create">
    <div class="card-grid2">
      <div class="card-item">
        <span class="card-title"><input size="50" class="input-container" type="text" value="<%= activity.activity %>" name="<%= activity.activity %>"></span><br><br>
        <input type="hidden" name="activity_name" value="<%=activity.activity%>">
        <div class="font-style-cursive">
          <strong>Type:</strong> 
          <select name="type">
            <option value="<%= activity.type %>"><%= activity.type %></option>
          </select> <br><br>
          <strong>City:</strong> <input type="text" placeholder="City" name="city"> <br><br>
          <strong>State:</strong> <input type="text" placeholder="State" name="state"> <br><br>
          <strong>Date:</strong> <input type="date" placeholder="mm/dd/yyyy" name="date"> <br><br>
          <strong>Length:</strong> <input type="text" placeholder="Duration in minutes" name="duration"> minute(s) <br><br>
          <strong>Details:</strong> <textarea rows="5" cols="30" placeholder="Description" name="description"></textarea> 
          <button id="submitBtn">Submit</button>
        </div>
      </div>
    </div>
  </form> <br>

  <form class="button-container" action="/explore">
    <button id="submitBtn2"> Refresh </button> <br>
  </form>

  <br><br><br>

</body>
</html>